@import "../../style.scss";

.full-about-hokim {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    .about {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 7%;

            .left-page {
                width: 49%;
                // padding-left: 10%;

                h1 {
                    width: 100%;
                    font-size: 50px;
                    font-family: sans-serif;
                    color: #38424DFF;
                }
            }

            .vall {
                width: .5%;
                height: 200px;
                background: #DE3660FF;
            }

            .right-page {
                width: 49%;
                padding-left: 20px;

                p {
                    font-size: 18px;
                    font-family: sans-serif;
                    color: #999;
                }

                button {
                    border: none;
                    background: #DE3660FF;
                    color: white;
                    width: 220px;
                    height: 60px;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-family: sans-serif;
                    font-size: 18px;

                    &:hover {
                        background: white;
                        color: #DE3660FF;
                        box-shadow: 0px 2px 7px #999;
                    }
                }
            }
        }
    }
    .work-activity{
        padding-top: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .container{
            width: 60%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            .photo-of-governor{
                width: 45%;
                img{
                    width: 500px;
                }
            }
            .about{
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                p{
                    color: #999;
                }
            }
        }
    }
    
}
